---
import HeroPost from "../components/Hero/HeroPost.astro";
import HeroMain from "../components/Hero/HeroMain.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Ermia Codev"
  keywrd="Ermia,Codev,ErmiaCodev,Code,Dev,Linux,DevOps,ارمیا,مقدمی"
>
  <div class="mt-12 mx-auto max-w-[1170px] px-4 sm:px-8 xl:px-0 z-0">
    <div class="my-9">
      <HeroMain
        category="personal"
        title="Ermia Codev (Ermia Moghdamy)"
        caption="I'm Ermia Codev. Programmer, FullStack Developer, DataScientist & DevOps Engineer. Official Instructor of ITVTO. "
      />
    </div>
    <div class="flex flex-col lg:flex-row gap-x-7.5 gap-y-7">
      <HeroPost
        category="tutorial"
        banner="/img/banners/cs2.png"
        title="New Online Courses are available. Programming, Data Science & DevOps "
      />
      <HeroPost
        link="https://github.com/ErmiaMoghadamy/Focusizer/releases/"
        category="tech"
        banner="/img/banners/fc.png"
        title="Focusizer: Persian Focus App An Forest localization. "
      />
    </div>
  </div>
</Layout>
