---
import "../styles/fonts.css";
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
    keywrd: string;
}

const { title, keywrd } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<link rel="canonical" href="https://ermia-codev.ir/" />
        <meta name="theme-color" content="#14b8a6" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	</head>
	<body dir="ltr" >
        <Navbar lang="en" />
        <main class="min-h-screen">

		<slot />
        </main>
        <Footer lang="en" />
	</body>
</html>

<style is:global>
    .font-fa {
        font-family: Vazirmatn, sans-serif !important;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
</style>

<script>
    import Alpine from "alpinejs";

    Alpine.start();
</script>